@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 .open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
 }
.first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 226px;
    margin-right: 230px;
}
.title{
    /* border: 2px solid red; */
    width: 121px;
    font-family: Open Sans;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;

/* text-align: center; */
}
.nm{
    color: 
rgba(253, 110, 10, 1);
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
}
.list li{
    margin-right: 51px;
}
.list li a{
text-decoration: none;
font-size: 20px;
color: rgba(71, 71, 71, 1);
}
.btn{
    /* Group 3 */
width: 150px;
height: 64px;
border-radius: 5px;
background-color: rgba(253, 110, 10, 1);
color: rgba(255, 255, 255, 1);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
border: none;
/* margin: 50px 230px 723px 1220px; */
}
.title2{
    /* Hi, I am */
    /* border: 2px solid blue; */
width: 177px;
/* height: 61px; */
color: rgba(71, 71, 71, 1);

font-family: Open Sans;
font-size: 45px;
font-weight: 600;
/* line-height: 61px; */
letter-spacing: 0%;
text-align: left;
margin: 0;
}
.title3{
    /* Mary Hardy */
  /* border: 2px solid rgb(200, 255, 0);   */
width: 498px;
/* height: 116px; */
color: rgba(24, 24, 24, 1);

font-family: Open Sans;
font-size: 85px;
font-weight: 700;
/* line-height: 116px; */
letter-spacing: 0%;
text-align: left;
margin-top: 5px;
margin-bottom: 20px;
}
.para{
    /* border: 2px solid rgb(0, 217, 255); */
    width: 585px;
/* height: 60px; */
color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 30px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 38px;
    margin-bottom: 0;
}
.ban-text{
  /* border: 5px solid red; */
width: 585px;
max-width: 100%;
max-height: 356px;
margin-top: 185px;

}
.btn-container{
    /* margin-top: 30px; */
    display: flex;
    gap: 40px;
}
.header{
    /* Rectangle 2 */
/* width: 1600px;
max-width: 100%; */
/* height: 837px; */
background: rgba(255, 248, 243, 1);
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
.img{
    /* 1699492_P3OLGJ1 1 */
width: 584px;
height: 676px;
}
.btn2{
    /* Rectangle 1 */
width: 160px;
height: 64px;
box-sizing: border-box;
border: 1px solid rgba(253, 110, 10, 1);
border-radius: 5px;
color: rgba(253, 110, 10, 1);

font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;

}
.pics{
    /* Frame */
width: 20px;
height: 15px;
}
.btn2-c{
    /* Group 8 */
width: 113px;
height: 27px;
}
.btn3 img{
    /* Frame */
width: 15px;
height: 15px;
}
.btn3{
    /* Rectangle 1 */
width: 200px;
height: 64px;
    border-radius: 5px;
background-color: rgba(253, 110, 10, 1);
color: rgba(255, 255, 255, 1);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
border: none;
}
.section-title{
    color: rgba(24, 24, 24, 1);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.section-description{
    color: rgba(117, 117, 117, 1);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.about{
    /* Rectangle 4 */
width: 1140px;
max-width: 100%;
/* height: 550px; */
/* min-height: 100%; */
margin-top: 130px;
border-radius: 10px;
background: rgba(255, 248, 243, 1);
padding: 131px 156px 131px 156px;
text-align: center;


}
main{
    width: 1140px;
    margin: 0 230px;
}
.about_div{
/* Frame 14 */
width: 827px;
max-width: 100%;
/* height: 288px; */
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;
border: 1px solid rgba(0, 0, 0, 1);
background: rgba(255, 255, 255, 1);
margin: 131px 156px 131px 156px;
}
.item-title{
    color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-size: 20px;
font-weight: 400;
/* line-height: 30px; */
letter-spacing: 0%;
text-align: center;
}
.item-description{
    color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-size: 20px;
font-weight: bold;
/* line-height: 30px; */
letter-spacing: 0%;
text-align: center;
}
.item{
    /* From: Los Angeles, USA */
    /* border: 2px solid red; */
width: 168px;
/* margin: 0; */

/* height: 60px; */
}
.about-items{
    /* Group 13 */
width: 782px;
/* height: 60px; */
    /* max-width: 100%; */
    display: flex;
    justify-content: space-between;
    /* margin: 0; */
    /* gap: 40px; */
}

.card1{
    /* Rectangle 5 */
width: 267px;
max-width: 100%;
height: 377px;
border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start; 
padding: 30px 0 30px 30px ;
}

.photo{
    /* logo-javascript 1 */
width: 44px;
height: 44px;
/* margin: 30px 193px 30px 30px; */
}
.para1{
 /* Group 15 */
width: 204px;
height: 243px;
}
.titlee{
    /* Vanilla JavaScript */
width: 174px;
height: 27px;
color: rgba(24, 24, 24, 1);
text-align: left;

font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.article{
    width: 201px;
height: 196px;
    color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.full-card{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    gap: 40px;
}
.skills{
    width: 1140px;
max-width: 100%;
/* text-align: center;
box-sizing: border-box;
  margin: 0;
  padding: 0; 
  width: 100%; */
    margin: 130px 230px 130px 200px;
     /* display: flex;
     flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.p2{
    margin-top: 30px;
    margin-bottom: 50px;
}
